# Sample Environment Variables
SECRET_KEY=django-insecure-_0lntjo&0dc%2h@qn)!0%z)$e(anzv2kyqbbc5)qt$r!7_7mg$
DEBUG=True
ALLOWED_HOSTS=*
TIME_ZONE=UTC

# Database Configuration (if using PostgreSQL/MySQL in future)
# DATABASE_URL=postgres://user:password@db:5432/invoicedb

# Celery & Redis Configuration
CELERY_BROKER_URL=redis://redis:6379/0

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_USE_TLS=True
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=celery_testing<your_email@gmail.com>
