{% extends 'base.html' %}
{% load static %}
{% block container %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <form method="post" action="{% url 'index' %}">
              {% csrf_token %}

              {% comment %} {{form}} {% endcomment %}

              <div class="header">
                <h3>New Customer</h3>
              </div><br><br>
              <div class="col-lg-8 margin-body">
  
             <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3">Customer Type:</span>
                  <div class="col-lg-9">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input mt-1" type="radio" id="business"
                        value="business" name="customer_type"  checked>
                      <label class="form-check-label" for="business">Business</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input name="customer_type" class="form-check-input mt-1" type="radio" id="individual"
                        value="individual" required>
                      <label class="form-check-label" for="individual">Individual</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3">Primary Contact:</span>
                  <div class="col-lg-9 d-flex">
                    <select class="form-control col-lg-2 p-0 bg-white mr-1" id="salutation" name="primary_contact" required>
                      <option selected disabled>Salutation</option>
                      {% for key,value in  data.s %}
                      <option value="{{key}}"> {{value}}</option>
                      
                      {% endfor %}
                    </select>
                    <input type="text" class="form-control col-lg-5 mr-1" id="firstName" placeholder="Firstname" name="first_name" required>
                    <input type="text" class="form-control col-lg-5" id="lastName" placeholder="Lastname" name="last_name" required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3">Company Name *   :</span>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" id="companyName" name="company_name" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3 text-danger">Customer Display Name:</span>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" id="Customerdisplay" name="customer_display_name" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row d-flex ">
                  <span class="col-form-label col-lg-3">Currency:</span>
                  <div class="col-lg-6">
                    <select class="form-control bg-white p-0" id="salutation" name="currency">
                    
                      {% for key ,value in data.c %}
                      <option value="{{key}}">{{value}}</option>
                      
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3 ">Customer Email:</span>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3">Customer Phone:</span>
                  <div class="col-lg-9 d-flex">
                    <input type="text" class="form-control col-lg-3 mr-1" id="firstName" placeholder="Work Phone" name="phone">
                    <input type="text" class="form-control col-lg-3" id="lastName" placeholder="Mobile" name="mobile">
                  </div>
                </div>
              </div>
              <div class="form-control-plaintext col-lg-3 font-xs">
                <a href="#" data-ember-action="" data-ember-action-173="173"
                  style="text-decoration: none; font-size: 12px;">Add more details</a>
              </div>
              <div class="form-group">
                <div class="row">
                  <span class="col-form-label col-lg-3">Customer Website:</span>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" id="">
                  </div>
                </div>
              </div>
           
            <!-- navbar-part-2 -->
            <nav>
              <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                <button class="nav-link active butn" id="nav-detail-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-detail"
                  aria-selected="true">Other Details</button>
                <button class="nav-link butn" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address"
                  type="button" role="tab" aria-controls="nav-address" aria-selected="false">Address</button>
                <button class="nav-link butn" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact Person</button>
                <button class="nav-link butn" id="nav-custom-tab" data-bs-toggle="tab" data-bs-target="#nav-custom"
                  type="button" role="tab" aria-controls="nav-custom" aria-selected="false">Custom Field</button>
                <button class="nav-link butn" id="nav-remarks-tab" data-bs-toggle="tab" data-bs-target="#nav-remarks"
                  type="button" role="tab" aria-controls="nav-remarks" aria-selected="false">Remarks</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                <div class="col-lg-12 my-3" style="padding: 0;">
                  
                    <div class="form-group">
                      <div class="form-group">
                        <div class="row ">
                          <span class="col-form-label col-lg-3 ">Tax Rate:</span>
                          <div class="col-lg-6">
                            <select class="form-control bg-white" id="taxrate">
                              <option value="AED"></option>
                            </select>
                            <p id="small-text">To associate more than one tax, you need to create a tax group in
                              Settings.</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row d-flex ">
                          <span class="col-form-label col-lg-3  ">Payment Terms:</span>
                          <div class="col-lg-6">
                            <select class="form-control bg-white" id="paymentterms" style="padding: 0px;">
                              <option value="Net 15">Net 15</option>
                              <option value="Net 30">Net 30</option>
                              <option value="Net 45">Net 45</option>
                              <option value="Net 60">Net 60</option>
                              <option value="month">Due end of month</option>
                              <option value="year">Due end of year</option>
                              <option value="reciept" selected>Due on receipt</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-3 ">Customer Type:</span>
                          <div class="col-lg-9">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input mt-1" type="checkbox" name="" id="business"
                                value="business" checked>
                              <!-- <label class="form-check-label" for="business">Business</label> -->
                              <p style="font-size: 12px;">Allow portal access for this customer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row d-flex ">
                          <span class="col-form-label col-lg-3 ">Portal Language:</span>
                          <div class="col-lg-6">
                            <select class="form-control bg-white" id="portallang" style="padding: 0px;">
                              <option value="English" selected>English</option>
                              <option value="Other Language">Nepali</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-3 ">Facebook:</span>
                          <div class="col-lg-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><img src="{% static 'images/img1.png' %}"
                                  style="height: 20px; width: 20px;"></span>
                              <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                            </div>
                            <p style="font-size: 12px; color: #999;">http://www.facebook.com/</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-3 ">Twitter:</span>
                          <div class="col-lg-6">
                            <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><img src="{% static 'images/img2.jpeg' %}"
                                  style="height: 20px; width: 20px;"></span>
                              <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                            </div>
                            <p style="font-size: 12px; color: #999;">http://www.twitter.com/</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </div>
              </div>
              <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <div class="row mb-2">
                      <label class="col-form-label add-header col-lg-12 font-size-3" id="Billing">Billing Address
                        </Address></label>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">Attention</span>
                        <div class="col-lg-7">
                          <input type="text" class="form-control" id="companyName">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">Country/Region</span>
                        <div class="col-lg-7 d-flex">
                          <select class="form-control bg-white" id="country" placeholder="Select or Type to add"
                            style="padding: 0px;">
                            <option value="mr">Nepal</option>
                            <option value="ms">USA</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">Address</span>
                        <div class="col-lg-7">
                          <textarea placeholder="Street 1" class="form-control text-area "
                            style="height: 48px;"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-7 offset-lg-4">
                          <textarea placeholder="Street 2" class="form-control text-area "
                            style="height: 48px;"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">City</span>
                        <div class="col-lg-7">
                          <input type="text" class="form-control" id="companyName">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">State</span>
                        <div class="col-lg-7 d-flex">
                          <select class="form-control p-0 bg-white" id="salutation">
                            <option value="" selected disabled>Select or Type to add</option>
                            <option value="Madhya Paschimanchal">Madhya Paschimanchal</option>
                            <option value="Madhyamcha">Madhyamchal</option>
                            <option value="Paschimanchal">Paschimanchal</option>
                            <option value="Purbanchal">Purbanchal</option>
                            <option value="Sudur Pashchimanchal">Sudur Pashchimanchal</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Zip Code</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="Zip Code">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Phone</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="Phone">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Fax</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="companyName">
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- part-2 -->
                  <div class="col-lg-6 my-3">
                    <div class="row mb-2">
                      <label class="col-form-label add-header col-lg-6 font-size-3" id="Shipping">Shipping Address
                        </Address></label>
                      <div class="text-right col-lg-5 pt-2">
                        <a href="#" action="">Copy billing address</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4">Attention</span>
                        <div class="col-lg-7">
                          <input type="text" class="form-control" id="companyName">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4">Country/Region</span>
                        <div class="col-lg-7 d-flex">
                          <select class="form-control bg-white" id="salutation" placeholder="Select or Type to add"
                            style="padding: 0px;">
                            <option value="mr">Nepal</option>
                            <option value="ms">USA</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">Address</span>
                        <div class="col-lg-7">
                          <textarea placeholder="Street 1" class="form-control text-area "
                            style="height: 48px;"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-7 offset-lg-4">
                          <textarea placeholder="Street 2" class="form-control text-area "
                            style="height: 48px;"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">City</span>
                        <div class="col-lg-7">
                          <input type="text" class="form-control" id="companyName">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <span class="col-form-label col-lg-4 ">State</span>
                        <div class="col-lg-7 d-flex">
                          <select class="form-control p-0 bg-white" id="salutation-state"
                            placeholder="Select or Type to add">
                            <option value="" selected disabled>Select or Type to add</option>
                            <option value="Madhya Paschimanchal">Madhya Paschimanchal</option>
                            <option value="Madhyamcha">Madhyamchal</option>
                            <option value="Paschimanchal">Paschimanchal</option>
                            <option value="Purbanchal">Purbanchal</option>
                            <option value="Sudur Pashchimanchal">Sudur Pashchimanchal</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Zip Code</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="Zip Code">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Phone</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="Phone">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <span class="col-form-label col-lg-4 ">Fax</span>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="companyName">
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="container my-5">
                  <table class="table table-bordered mt-3">
                    <thead class="line-item-header">
                      <th class="line-item-column over-flow" width="2%" style="min-width: 35px;">Salutation</th>
                      <th class="line-item-column over-flow" width="3%">First Name</th>
                      <th class="line-item-column over-flow" width="3%">Last Name</th>
                      <th class="line-item-column over-flow" width="8%">Email Address</th>
                      <th class="line-item-column over-flow" width="3%">Work Phone</th>
                      <th class="line-item-column over-flow" width="3%">Mobile</th>
                    </thead>
                    <tbody class="line-item-body">
                      <tr class="line-item new-linw-item">
                        <td class="line-item-column">
                          <select class="form-control bg-white p-0" id="salutation-table">
                            <option value="" selected disabled></option>
                            <option value="mr">Mr.</option>
                            <option value="ms">Mrs.</option>
                            <option value="mrs">Miss.</option>
                            <option value="mrs">Ms.</option>
                            <option value="dr">Dr.</option>
                          </select>
                        </td>
                        <td class="line-item-column">
                          <input type-="text" class="text-field  form-control">
                        </td>
                        <td class="line-item-column">
                          <input type-="text" class="text-field  form-control">
                        </td>
                        <td class="line-item-column">
                          <input type-="text" class="text-field  form-control">
                        </td>
                        <td class="line-item-column">
                          <input type-="text" class="text-field  form-control">
                        </td>
                        <td class="line-item-column">
                          <input type-="text" class="text-field  form-control">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row-mt-5">
                    <div class="col-lg-12">
                      <a href="#">+ Add Contact Number</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-custom" role="tabpanel" aria-labelledby="nav-custom-tab">
                <div class="text-center text-muted intro-text my-5">Start adding custom fields for your contacts by
                  going to <i>Settings <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                      viewBox="0 0 512 512" xml:space="preserve" class="icon icon-sm">
                      <path
                        d="M14.5 429.9h244c6.6 0 12 5.4 12 12V500c0 9.9 11.2 15.5 19.2 9.6L502.1 352c6.5-4.8 6.5-14.5 0-19.3L289.7 175.1c-7.9-5.9-19.2-.2-19.2 9.6v58.1c0 6.6-5.4 12-12 12h-244c-6.6 0-12 5.4-12 12v151c0 6.7 5.4 12.1 12 12.1z"
                        id="Layer_2_1_"></path>
                    </svg> Preferences <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                      viewBox="0 0 512 512" xml:space="preserve" class="icon icon-sm">
                      <path
                        d="M14.5 429.9h244c6.6 0 12 5.4 12 12V500c0 9.9 11.2 15.5 19.2 9.6L502.1 352c6.5-4.8 6.5-14.5 0-19.3L289.7 175.1c-7.9-5.9-19.2-.2-19.2 9.6v58.1c0 6.6-5.4 12-12 12h-244c-6.6 0-12 5.4-12 12v151c0 6.7 5.4 12.1 12 12.1z"
                        id="Layer_2_1_"></path>
                    </svg> Customers</i>. You can also refine the address format of your customers from there.</div>
              </div>
              <div class="tab-pane fade" id="nav-remarks" role="tabpanel" aria-labelledby="nav-remarks-tab">
                <div class="col-lg-8 my-3">
                  <label class="col-form-label">Remarks <span class="text-muted">(For Internal Use)</span></label>
                  <textarea rows="3" class="text-area form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
        <!-- footer -->
        <div class="btn-toolbar fixed-actions fill-container">
          <button class="btn btn-primary btn-footer" type="submit" value="save  "> Save</button> 
           <button class="btn btn-secondary btn-footer text-dark" type="button" id="btn-last"> Cancel</button>
          </div>
        </form>
  <script src='{% static 'js/index.js' %}'></script>
  {% endblock %}