{% extends 'base.html' %}
{% load static %}
{% block container %}

        <!-- form content -->
        <div class="column list-column expanded-list-column">
          <div class="fill mt-5 ">
            <div class="list-filter">
              <button type="button" class="item-btn btn  dropdown-toggle dropdown-toggle-split border-0"
                style="outline: none;" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>All Invoices
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All</a></li>
                <li><a class="dropdown-item" href="#">Draft</a></li>
                <li><a class="dropdown-item" href="#">Customer Viewed</a></li>
                <li><a class="dropdown-item" href="#">Partially Paid</a></li>
                <li><a class="dropdown-item" href="#">Unpaid</a></li>
                <li><a class="dropdown-item" href="#"> Overdue</a></li>
                <li><a class="dropdown-item" href="#">Payment Initiated</a></li>
                <li><a class="dropdown-item" href="#">Paid</a></li>
                <li><a class="dropdown-item" href="#">Void</a></li>
              </ul>
              <div class="btn-toolbar float-right mr-7">
                <div class="mr-1">
                  <!-- Example split danger button -->
                  <div class="btn-group" style="height:35px">
                   <button id="addLineButton" type="button" class="btn btn-primary" onclick="window.location.href= '{% url 'invoice' %}' " >New</button> 
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-primary" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="16pbsh">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" href="#">New Invoice</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="#">New Recurring invoice</a></li>
                      <li><a class="dropdown-item" href="#">New Credit Note</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown btn-group list-sorter" style="height:35px">
                  <a class="btn btn-secondary dropdown-toggle dropdown-toggle-no-caret" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Created Time</a></li>
                    <li><a class="dropdown-item" href="#">Last Modified</a></li>
                    <li><a class="dropdown-item" href="#">Date</a></li>
                    <li><a class="dropdown-item" href="#">Invoice#</a></li>
                    <li><a class="dropdown-item" href="#">Order Number</a></li>
                    <li><a class="dropdown-item" href="#">Due Date</a></li>
                    <li><a class="dropdown-item" href="#">Amount</a></li>
                    <li><a class="dropdown-item" href="#">Balance Due</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Import Invoices</a></li>
                    <li><a class="dropdown-item" href="#">Export Invoices</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Export Current View</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Preferences</a></li>
                    <li><a class="dropdown-item" href="#">Manage Custom Fields</a></li>
                    <li><a class="dropdown-item" href="#">Online Payments</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Refresh List</a></li>

                  </ul>
                </div>
                <div>



                </div>
              </div>
            </div>
            <div class="fill">
              <div class="table-responsive overflow-initial">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col d-flex ">
                        <!-- Button trigger modal -->
                      <div class="checkboxes">
                        <span> <button type="button" class="btn" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop">
                          <span class="icon-sm"><i class="fa-regular fa-calendar-plus text-primary"></i>
                          </span>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title " id="staticBackdropLabel">Customize Columns
                                </h4>
                                <div class="font-small flex-grow-1 text-right pr-3">0 of 14 Selected</div>
                                <span class="separationline pl-3 h-17"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body column-body p-0">
                                <div>
                                  <div class="column-search px-5 pt-5 pb-2">
                                    <input placeholder="Search" type="search" autocapitalize="off" autocomplete="off"
                                      spellcheck="false" autocorrect="false" autofocus="true" style="width: 100%;">
                                  </div>
                                  <ul class="pb-5 px-5 mb-0 border-0 list-unstyled column-list">
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Company Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Email
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Work Phone
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Recievables
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Unused Credits
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">First Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Last Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Mobile Phone
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Payment Terns
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Status
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-secondary"
                                  data-bs-dismiss="modal">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </span>
                      <span  style="padding-top: 5px; "> <input type="checkbox" class="checkbox"></span>
                      </div>
                       
                      {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                      {% endif %}


                      </th>

                
                      <th scope="col">DATE</th>
                      <th scope="col">INVOICE#</th>
                      <th scope="col">CUSTOMER Name</th>
                      <th scope="col">DUE DATE</th>
                      <th scope="col">AMOUNT</th>
                      <th scope="col">BALANCE DUE</th>

                      {% for user in user %}
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr class="row-bg" onclick="redirectToDetails('{% url 'indexview' id=user.id %}')">
                      <td>{{forloop.counter}}</td>
                      <td>{{user.invoice_date}}</td>
                      <td>{{user.invoice_number}}</td>
                      <td>{{user.customer_name.fullname}}</td>
                      <td>{{user.due_date}}</td>
                      <td>{{user.sub_total}}</td>
                      <td>{{user.discounted_total_amount}}</td>
                    </tr>
                    
                    
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
  <script src='main.js'></script>
  
  <script>
    function redirectToDetails(url) {
      window.location.href = url;
    }
  </script>

  {% endblock %}
