{% extends 'base.html' %}
{% load static %}
{% block container %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <form method='post' action='{% url 'items' %}'>
        <div class="index-main-body margin-body">
          <div class="main-title">
            <h5>New Item </h5>
          </div>
          <div class="primary-info">
            <div class="col-lg-8 p-0">
              <form>
                <div class="form-group">
                  <div class="row">
                    <span class="col-form-label col-lg-3">Types</span>
                    <div class="col-lg-9">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="customerType" id="business"
                          value="business" checked>
                        <label class="form-check-label" for="business">Goods</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="customerType" id="individual"
                          value="individual">
                        <label class="form-check-label" for="individual">Services</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row pt-2">
                    <span class="col-form-label col-lg-3 text-danger">Name</span>
                    <div class="col-lg-6">
                      <input type="text" class="form-control" id="companyName" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <span class="col-form-label col-lg-3">Unit</span>
                    <div class="col-lg-6 d-flex">
                      <select class="form-control  bg-white">
                        <option value="cd">cd</option>
                        <option value="dom">dom</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <span class="col-form-label col-lg-3 text-danger">Selling Price:</span>
                    <div class="col-lg-4">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">NPR</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                          aria-describedby="basic-addon1" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <span class="col-form-label col-lg-3">Description</span>
                    <div class="col-lg-4">
                      <textarea  class="form-control text-area " style="height: 48px;"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <span class="col-form-label col-lg-3">Tax</span>
                    <div class="col-lg-9 d-flex">
                      <select class="form-control col-lg-5 bg-white" id="tax">
                        <option selected disabled> Select a Tax</option>
                        <option value="1"> car</option>

                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
       
         <!-- footer -->
         <div class="btn-toolbar fixed-actions fill-container">
          <button class="btn btn-primary btn-footer" type="submit"> Save</button> 
           <button class="btn btn-secondary btn-footer text-dark" type="button" id="btn-last"> Cancel</button>
          </div>
        </form>
      </div>
    </div>
    

  </div>
  </div>
  </div>
  <script src='main.js'></script>
  {% endblock %}