{% extends 'base.html' %}
{% load static %}
{% block container %}

        <!-- form content -->
        <div class="column list-column expanded-list-column">
          <div class="fill mt-5 ">
            <div class="list-filter">
              <button type="button" class="item-btn btn  dropdown-toggle dropdown-toggle-split border-0"
                style="outline: none;" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>All Items
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Invoices</a></li>
                <li><a class="dropdown-item" href="#">Quotes</a></li>
                <li><a class="dropdown-item" href="#">Credit Notes</a></li>
              </ul>
              <div class="btn-toolbar float-right mr-7">
                <div class="mr-1">
                  <a href={% url 'index' %}><button class="btn btn-primary"> New</button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Customers</a></li>
                    <li><a class="dropdown-item" href="#">Invoices</a></li>
                    <li><a class="dropdown-item" href="#">Quotes</a></li>
                    <li><a class="dropdown-item" href="#">Credit Notes</a></li>
                  </ul>
                </div>
                <div class="dropdown btn-group list-sorter">
                  <a class="btn btn-secondary dropdown-toggle dropdown-toggle-no-caret" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Name</a></li>
                    <li><a class="dropdown-item" href="#">Rate</a></li>
                    <li><a class="dropdown-item" href="#">Last Modified</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Import Items</a></li>
                    <li><a class="dropdown-item" href="#">Export Items</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Export Current View</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Preferences</a></li>
                    <li><a class="dropdown-item" href="#">Refreshlist</a></li>
                  </ul>
                </div>
                <div>



                </div>
              </div>
            </div>
            <div class="fill">
              <div class="table-responsive overflow-initial">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col d-flex ">
                        <!-- Button trigger modal -->
                      <div class="checkboxes">
                        <span> <button type="button" class="btn" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop">
                          <span class="icon-sm"><i class="fa-regular fa-calendar-plus text-primary"></i>
                          </span>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title " id="staticBackdropLabel">Customize Columns
                                </h4>
                                <div class="font-small flex-grow-1 text-right pr-3">0 of 14 Selected</div>
                                <span class="separationline pl-3 h-17"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body column-body p-0">
                                <div>
                                  <div class="column-search px-5 pt-5 pb-2">
                                    <input placeholder="Search" type="search" autocapitalize="off" autocomplete="off"
                                      spellcheck="false" autocorrect="false" autofocus="true" style="width: 100%;">
                                  </div>
                                  <ul class="pb-5 px-5 mb-0 border-0 list-unstyled column-list">
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Company Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Email
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Work Phone
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Recievables
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Unused Credits
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">First Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Last Name
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Mobile Phone
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Payment Terns
                                      </div>
                                    </li>
                                    <li draggable="true" class="my-2 mx-0 cursor-move">
                                      <div class="font-xs d-flex align-items-center">
                                        <input type="checkbox" class="mr-2">Status
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-secondary"
                                  data-bs-dismiss="modal">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </span>
                      <span  style="padding-top: 5px; "> <input type="checkbox" class="checkbox"></span>
                      </div>
                       


                      </th>
                      {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                      {% endif %}

                      <th scope="col">Name</th>
                      <th scope="col">COMPANY NAME</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">WORK PHONE</th>
                      <th scope="col">Website</th>
                      <th scope="col">mobile</th>
                      

{% for user in user %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row-bg" onclick="redirectToDetails('{% url 'customerview' id=user.id %}')">
                  
                      <td>{{user.id}}</td>
                      <td>{{user.first_name}}</td>
                      <td>{{user.company_name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.website}}</td>
                      <td>{{user.mobile}}</td>
                      
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>

              </div>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
  <script src='main.js'></script>
  <script>
    function redirectToDetails(url) {
      window.location.href = url;
    }
  </script>
  {% endblock %}