<!doctype html>
{% load static %}
<html lang="en">
​
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>invoice</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
​
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='{% static 'style/style.css' %}'>
  <style>
    @page{
        size: "A4";
        margin: 2.5cm 1.5cm 3.5cm 1.5cm;

        @top-center{
            content: "invoice";
        }
    }
</style>
</head>
​
<body>
    <div class="pdf-container mt-5">
        <div class="pdf-template">
          <div class="pdf-template-body mt-3">
            <table style="width: 100%; table-layout: fixed; padding-top: 40px;">
              <tbody>
                <tr>
                  <td style="vertical-align: top; width: 50%;">
                    <span class="pdf-orgname">
                      <b>Sanya</b>
                    </span><br>
                    <span class="pdf-label">
                      <span style="white-space: pre-wrap;word-wrap: break-word;" id="tmp_org_address">Nepal</span>
                    </span>
                  </td>
                  <td style="width:50%; text-align: right; vertical-align: top;">
                    <span class="pdf-entity-type">INVOICE</span>
                    <br>
                    <span class="pdf-label" style="font-size: 10pt;">
                      <b># INV-000001</b>
                    </span>
                    <div style="margin-top: 20px; clear: both;">
                      <span style="font-size:8pt;"><b>Balance Due</b></span><br>
                      <span style="font-size:12pt;"><b>NPR252.00</b></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="clear: both; width: 100%; margin-top: 30px; table-layout: fixed;">
              <tbody>
                <tr>
                  <td style="width: 60%; vertical-align: bottom; word-wrap: break-word;">
                    <div class="billto-section">
                      <label style="font-size: 10pt;" class="pdf-label">Bill To</label><br>
                      <span>
                        <strong>
                          <span class="pdf-customer-name">
                            <a href="#">Kantipur Infotech</a>
                          </span>
                        </strong>
                      </span>
                    </div>
                  </td>
                  <td style="vertical-align:bottom; width: 40%; text-align: right;">
                    <table id="tableprop">
                      <tbody>
                        <tr>
                          <td style="padding: 5px 10px 5px 0px; font-size: 10pt; text-align: right;">
                            <span class="pcs-label">Invoice Date :</span>
                          </td>
                          <td class="text-right">
                            <span id="pdf-entity-date">20 Jun 2023</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 5px 10px 5px 0px; font-size: 10pt; text-align: right;">
                            <span class="pdf-label">Terms :</span>
                          </td>
                          <td class="text-right">
                            <span>Due on Receipt</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 5px 10px 5px 0px; font-size: 10pt; text-align: right;">
                            <span class="pdf-label">Due Date :</span>
                          </td>
                          <td class="text-right">
                            <span>20 Jun 2023</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
​
                  </td>
                </tr>
              </tbody>
​
            </table>
            <div class="subject-field mt-2">
              <div class="pdf-label">Subject:</div>
              <div class="subject-block-value">yo bill ho</div>
            </div>
            <table style="width: 100%; margin-top: 20px; table-layout: fixed;" class="itemtable">
              <thead>
                <tr style="height:32px;">
                  <td style="padding: 5px 0px 5px 5px;width: 5%;text-align: center;" id="" class="pdf-itemtable-header ">
                    #
                  </td>
                  <td style="padding: 5px 10px 5px 20px;width: 11%;text-align: left;" id="" class="pdf-itemtable-header ">
                    Item &amp; Description
                  </td>
                  <td style="padding: 5px 10px 5px 5px;width: 11%;text-align: right;" id="" class="pdf-itemtable-header ">
                    Qty
                  </td>
                  <td style="padding: 5px 10px 5px 5px;width: 11%;text-align: right;" id="" class="pdf-itemtable-header ">
                    Rate
                  </td>
                  <td style="padding: 5px 10px 5px 5px;width: 15%;text-align: right;" id="" class="pdf-itemtable-header ">
                    Amount
                  </td>
​
                </tr>
              </thead>
              <tbody class="itembody">
                <tr class="breakrow-inside breakrow-after">
                  <td rowspan="1" valign="top" style="padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;" class="pdf-item-row"> 1
                  </td>
                  <td rowspan="1" valign="top" style="padding: 10px 0px 10px 20px;" class="pdf-item-row">
                    <div>
                      <div>
                        <span style="white-space: pre-wrap;word-wrap: break-word;" class="pdf-item-desc" id="tmp_item_description">churot</span>
                      </div>
                    </div>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_qty">1.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_rate">10.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column lineitem-content-right text-right">
                    <span id="tmp_item_amount">10.00</span>
                  </td>
                </tr>
                <tr class="breakrow-inside breakrow-after">
                  <td rowspan="1" valign="top" style="padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;" class="pdf-item-row"> 1
                  </td>
                  <td rowspan="1" valign="top" style="padding: 10px 0px 10px 20px;" class="pdf-item-row">
                    <div>
                      <div>
                        <span style="white-space: pre-wrap;word-wrap: break-word;" class="pdf-item-desc" id="tmp_item_description">churot</span>
                      </div>
                    </div>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_qty">1.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_rate">10.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column lineitem-content-right text-right">
                    <span id="tmp_item_amount">10.00</span>
                  </td>
                </tr>
                <tr class="breakrow-inside breakrow-after">
                  <td rowspan="1" valign="top" style="padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;" class="pdf-item-row"> 1
                  </td>
                  <td rowspan="1" valign="top" style="padding: 10px 0px 10px 20px;" class="pdf-item-row">
                    <div>
                      <div>
                        <span style="white-space: pre-wrap;word-wrap: break-word;" class="pdf-item-desc" id="tmp_item_description">churot</span>
                      </div>
                    </div>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_qty">1.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column text-right">
                    <span id="tmp_item_rate">10.00</span>
                  </td>
                  <td rowspan="1" class="pdf-item-row lineitem-column lineitem-content-right text-right">
                    <span id="tmp_item_amount">10.00</span>
                  </td>
                </tr>
​
​
              </tbody>
            </table>
            <div style="width: 100%; margin-top: 1px;">
              <div class="total-section">
                <table class="pdf-totals float-right">
                  <tbody>
                    <tr>
                      <td class="total-section-label text-right">Sub Total</td>
                      <td id="pdf_subtotal" class="total-section-value text-right">252.00</td>
                    </tr>
                    <tr>
                      <td class="total-section-label text-right"><b>Total</b></td>
                      <td id="pdf_total" class="total-section-value text-right"><b>NPR252.00</b></td>
                    </tr>
                    <tr style="height:40px; background-color: #f7f7f7; width: 100%;" class="pcs-balance">
                      <td class="total-section-label text-right"><b>Balance Due</b></td>
                      <td id="pdf_balance_due" class="total-section-value text-right"><b>NPR252.00</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style="clear:both; padding-top:50px; width:100%;">
              <label style="font-size: 10pt;" id="pdf_notes_label" class="pdf-label">Notes</label><br>
              <p style="margin-top:7px; word-wrap: break-word;" class="pdf-notes">
                Thanks for your business. Tobaco causes cancer</p>
            </div>
          </div>
        </div>
      </div>
​
​
  <script src='main.js'></script>
</body>
​
</html>