{% load static %}
<!DOCTYPE html>
<html>
​
<head>
    <title>Login Form</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'style/login.css' %}'>
</head>
​
<body>
    <div class="main-container">
        <div class="container">
            <div class="form-container">
                <img src="images/icon.png" alt="form-logo" class="form-logo">
                <p class="form-header">Reset Your Password</p>
                <form class="login-form invoice-form d-flex justify-content-center flex-column">
                    <div class=" login-input input-group flex-nowrap mb-4">
                        <input type="password" class=" input-height form-control" placeholder="Enter New Password"
                            aria-label="newpassword" aria-describedby="addon-wrapping" fdprocessedid="njf8m9">
                    </div>
​
                    <div class=" login-input input-group flex-nowrap mb-4">
                        <input type="password" class=" input-height form-control" placeholder="Confirm New Password"
                            aria-label="confirmpassword" aria-describedby="addon-wrapping" fdprocessedid="njf8m9">
                    </div>
                    <p class="mt-1 text-danger">Strong passwords include numbers, lettters, and punctuation marks. </p>
                    <button class="btn-login">Register
                    </button>
                    
                
                </form>
            </div>
        </div>
    </div>
​
    <!-- Add Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
​
</html>